*{
    padding: 0;
    margin:0;
    color: white;
}
#main{
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor{
    height: 20px;
    width: 20px;
    border-radius:  50%; 
    background-color: white;
    mix-blend-mode: difference;
    position: absolute;
    transition: all linear 0.15s;
}
h1{
    text-transform: uppercase;
    font-size:  142px;
    font-weight: 1900;
}